@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-navy {
    @apply text-navy-900;
  }
  
  .bg-navy {
    @apply bg-navy-900;
  }
  
  .text-gold {
    @apply text-gold-600;
  }
  
  .bg-gold {
    @apply bg-gold-500;
  }
}




