---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero';
import PartnerMarquee from '../components/PartnerMarquee.astro';
import HouseMethod from '../components/HouseMethod.astro';
import OurCare from '../components/OurCare.astro';
import ProblemsSolutions from '../components/ProblemsSolutions';
import DetailedServices from '../components/DetailedServices.astro';
import WhyChooseHouse from '../components/WhyChooseHouse.astro';
import AboutCompany from '../components/AboutCompany.astro';
import OurProjects from '../components/OurProjects.astro';
import Testimonials from '../components/Testimonials';
import FAQ from '../components/FAQ';
import MobileStickyBar from '../components/MobileStickyBar';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero client:load />
    <PartnerMarquee />
    <HouseMethod />
    <OurCare />
    <ProblemsSolutions client:load />
    <DetailedServices />
    <WhyChooseHouse />
    <AboutCompany />
    <OurProjects />
    <Testimonials client:load />
    <FAQ client:load />
  </main>
  <Footer />
  <MobileStickyBar client:load />
</Layout>
